{#
    Регистрация
    @var \yii\web\View this
    @var \common\modules\users\models\User user
    @var \common\modules\users\models\Profile profile
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %} {{ t('users', 'SIGNUP.TITLE') }} {% endblock %}

{% block contentTitle %}<i class="glyphicon glyphicon-user"></i>  {{ block('title') }} {% endblock %}

{% block content %}

    {{ use('yii/widgets/ActiveForm') }}

    {% if app.session.hasFlash('danger') %}        
        <div class="alert alert-danger" role="alert">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            {{ app.session.getFlash('danger') | raw }}
        </div>
    {% endif %}

    {% if app.session.hasFlash('success') %}        
        <div class="alert alert-success" role="alert">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            {{ app.session.getFlash('success') | raw }}
        </div>
    {% endif %}

    <div class="col-md-6">
        {% set form = active_form_begin() %}

        <h3>Основные данные</h3>
        {{ form.field(user, 'phone') | raw }}
        {{ form.field(user, 'email') | raw }}
        {{ form.field(user, 'password').passwordInput() | raw }}
        {{ form.field(user, 'repassword').passwordInput() | raw }}

        <br/>

        <h3>Данные профиля</h3>
        {{ form.field(profile, 'name') | raw }}
        {{ form.field(profile, 'surname') | raw }}
        {{ form.field(profile, 'whau') | raw }}
        
        <div class="form-group text-right">
            <input type="submit" value="{{ t('users', 'SIGNUP') }}" class="btn btn-primary" />
        </div>
        {{ active_form_end() }} 
    </div>
            
{% endblock content %}
