{#
    Авторизация
    @var \yii\web\View this
    @var \common\modules\users\models\LoginForm model
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %} {{ t('users.main', 'SIGNIN.TITLE') }} {% endblock %}

{% block contentTitle %}<i class="glyphicon glyphicon-user"></i>  {{ block('title') }} {% endblock %}

{% block content %}

    {{ use('yii/widgets/ActiveForm') }}

    {% if app.session.hasFlash('danger') %}
        <div class="alert alert-danger" role="alert">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            {{ app.session.getFlash('danger') }}
        </div>
    {% endif %}

    {% if app.session.hasFlash('success') %}
        <div class="alert alert-success" role="alert">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            {{ app.session.getFlash('success') }}
        </div>
    {% endif %}

    <div class="col-md-6">
        {% set form = active_form_begin() %}
    
        {{ form.field(model, 'username') | raw }}
        {{ form.field(model, 'password').passwordInput() | raw }}
        {{ form.field(model, 'rememberMe').checkbox() | raw }}
        
        <div class="form-group text-right">
            <a href="{{ path(['/users/guest/signup']) }}">{{  t('users.main', 'SIGNUP') }}</a> |
            <a href="{{ path(['/users/guest/recovery']) }}">{{  t('users.main', 'RECOVERY') }}</a> &nbsp;
            <input type="submit" value="{{ t('users', 'SIGNIN') }}" class="btn btn-primary" />
        </div>
        {{ active_form_end() }} 
    </div>
            
{% endblock content %}
