{#
    Изменить пароль
    @var \yii\web\View this
    @var \frontend\users\models\Profile model
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %} {{ t('users.main', 'PROFILE.PASSWORD') }} {% endblock %}

{% block content %}

    <h1>{{ t('users.main', 'PROFILE.PASSWORD') }}</h1>

    {% if app.session.hasFlash('danger') %}        
        <div class="alert alert-danger" role="alert">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            {{ app.session.getFlash('danger') }}
        </div>
    {% endif %}

    {% if app.session.hasFlash('success') %}        
        <div class="alert alert-success" role="alert">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            {{ app.session.getFlash('success') }}
        </div>
    {% endif %}

    <div>
        {{ use('yii/widgets/ActiveForm') }}
        {% set form = active_form_begin() %}
        
        {{ form.field(model, 'oldpassword').passwordInput() | raw }}
        {{ form.field(model, 'password').passwordInput() | raw }}
        {{ form.field(model, 'repassword').passwordInput() | raw }}

        <div class="form-group">
            <input type="submit" value="{{ t('users.main', 'SAVE') }}" class="btn btn-primary" />
        </div>
        {{ active_form_end() }} 
    </div>
            
{% endblock content %}