{#
    Профиль
    @var \yii\web\View this
    @var \frontend\users\models\Profile model
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %} {{ t('users', 'PROFILE.TITLE') }} {% endblock %}

{% block contentTitle %}<i class="glyphicon glyphicon-user"></i>  {{ block('title') }} {% endblock %}

{% block content %}

    {% if app.session.hasFlash('danger') %}        
        <div class="alert alert-danger" role="alert">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            {{ app.session.getFlash('danger') }}
        </div>
    {% endif %}

    {% if app.session.hasFlash('success') %}        
        <div class="alert alert-success" role="alert">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            {{ app.session.getFlash('success') }}
        </div>
    {% endif %}

    <div>
        {{ use('yii/widgets/ActiveForm') }}
        {% set form = active_form_begin() %}
        
        {{ form.field(model, 'name').textInput() | raw }}
        {{ form.field(model, 'surname').textInput() | raw }}

        <div class="form-group">
            <input type="submit" value="{{ t('users', 'SAVE') }}" class="btn btn-primary" />
        </div>
        {{ active_form_end() }} 
    </div>
            
{% endblock content %}
